/* 
    position의 default
    위 => 아래, 왼 => 오
    부모요소 자식요소 일 때는 부모의 위치가 기준점이 됨.
    좌표값을 줘도 안먹음.
*/


.parent{
    width: 150px;
    height: 150px;
    background-color: orange;
    border: 1px solid gray;
    margin-top: 30px;
    margin-left: 30px;
}


.static-box{
    position: static;
    background-color: salmon;
    color: red;
    text-align: center;
    height: 150px;
    top: 50px; left: 50px;
}

.relative-box{
    position: relative;
    top: 50px; left: 50px;
    background-color: violet;
    text-align: center;
    height: 150px;
}

.rel{
    position: relative;
}

.absolute-box{
    /* 부모가 static 이면 body 기준으로 움직임. */
    /* 부모가 relative면 부모기준으로 움직임. */
    position: absolute;
    height: 200px; width: 200px;
    top: 50px; left: 50px;
    background-color: yellow;
    text-align: center;
}

.fixed-box{
    position: fixed;
    color: darkgray;
    text-align: center;
    background-color: black;
}

.sidebar{
    top: 0;
    right: 0;
    width: 15vw;
    height: 100vh;
    z-index: 1;

}

.footer{
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    height: 10vw;
}